# Python
pip-tools
nbqa  # run python code tests on .ipynb
autoflake
black
black[d]
black_nbconvert  # for formatting .ipynb
isort

json5

marshmallow
marshmallow_dataclass

jupyter

# Python Strict
overrides

# ipython
ipython

# python typing
mypy

# dead code
vulture

# Testing
pytest
pytest-cov
pytest-testmon
pytest-custom-exit-code  # --suppress-no-test-exit-code
PyHamcrest
testfixtures

openai
